/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
  color: #e4e4e4;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px!important;
  font-weight: 400;
}
/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
input,
textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}
td {
  margin: 0px;
  padding: 0px;
}
form {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
a {
  color: #000100;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/**
 * Всякие заготовки
 */
.hvr_none {
  border-bottom: none;
  border: none;
}
.hvr_none:hover {
  border-bottom: none;
  border: none;
}
.hvr_none span,
.hvr_none a {
  border-bottom: none;
  border: none;
}
.hvr_none span:hover,
.hvr_none a:hover {
  border-bottom: none;
  border: none;
}
/****** HVR  - 2 */
/****** Эффект для placeholder */
.field_effect::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect:focus::-webkit-input-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
.field_effect:focus::-moz-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
.field_effect:focus:-moz-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
.field_effect:focus:-ms-input-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
/****** Colors */
/****** Fields */
.form_item {
  margin-top: 20px;
  overflow: hidden;
}
.form_item:first-child {
  margin-top: 0;
}
.form__label {
  width: 35%;
  float: left;
  font-size: 16px;
  color: #9f8060;
  padding-top: 8px;
}
.form_option {
  width: 65%;
  float: left;
}
.form__field {
  background: #F8F8F8;
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #333;
}
.form__field::-webkit-input-placeholder {
  color: #333;
}
.form__field::-moz-placeholder {
  color: #333;
}
.form__field:-moz-placeholder {
  color: #333;
}
.form__field:-ms-input-placeholder {
  color: #333;
}
.form__field_input input,
.form__field_input select,
.form__field_input textarea {
  background: #86868E;
  opacity: 0.8;
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
}
.form__field_input input::-webkit-input-placeholder,
.form__field_input select::-webkit-input-placeholder,
.form__field_input textarea::-webkit-input-placeholder {
  color: #333;
}
.form__field_input input::-moz-placeholder,
.form__field_input select::-moz-placeholder,
.form__field_input textarea::-moz-placeholder {
  color: #333;
}
.form__field_input input:-moz-placeholder,
.form__field_input select:-moz-placeholder,
.form__field_input textarea:-moz-placeholder {
  color: #333;
}
.form__field_input input:-ms-input-placeholder,
.form__field_input select:-ms-input-placeholder,
.form__field_input textarea:-ms-input-placeholder {
  color: #333;
}
.form__field_select {
  position: relative;
  margin-top: 1px;
}
.form__field_select p {
  position: relative;
  color: #333;
}
.form__field_select p:after {
  content: "";
  background: url('../images/sprites.png') no-repeat;
  background-position: -32px -245px;
  width: 21px;
  height: 9px;
  float: right;
  margin: 9px 10px 0 0;
}
.form__field_select select {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  border: none;
  cursor: pointer;
  opacity: 0;
}
.s-select_switch {
  position: relative;
}
.s-select_switch p {
  position: relative;
}
.s-select_switch select {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  border: none;
  cursor: pointer;
  opacity: 0;
}
.form__field_textarea {
  height: 146px;
  padding-top: 10px;
  resize: none;
}
/****** Styles CHECK  */
.field__check input[type="checkbox"] {
  display: none;
}
.field__check input[type="checkbox"] + label {
  font-size: 16px;
  color: #666;
  cursor: pointer;
}
.field__check input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 5px 0 0;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
}
input[type="checkbox"] + label::before {
  background-position: -27px -151px;
  position: relative;
  top: 3px;
}
input[type="checkbox"]:checked + label::before {
  background-position: 0 -151px;
}
/****** Buttons */
.button {
  height: 45px;
  background-color: #90cbde;
  border-radius: 3px;
  border: none;
  padding: 0 17px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  display: inline-block;
  position: relative;
  color: #e4e4e4!important;
  font-family: 'PT Sans';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px!important;
}
.button span {
  display: table;
  margin: 0 auto 0;
}
.button:hover {
  opacity: 0.5;
}
.button._center {
  display: table;
  margin: 0 auto;
}
.button._full {
  width: 100%;
}
.button._left {
  float: left;
}
.button._right {
  float: right;
}
.button._trans {
  background-color: transparent;
  border: 3px solid white;
  height: 43px;
  line-height: 39px!important;
}
.button._min {
  height: 31px;
  line-height: 31px!important;
  text-transform: none;
}
/****** titles */
.c-title {
  color: #727475;
  font-family: 'PT Serif';
  font-size: 25px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.6px;
  border-left: 6px solid #90cbde;
  padding-left: 6px;
}
.c-title._lite {
  color: #f4f4f4;
}
/****** wrappers */
.main-wrapper {
  padding: 0;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}
.content {
  width: 100%;
}
/* loader */
.loaded .main-wrapper {
  visibility: hidden;
}
.icon-load {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 60999;
  background: url('../img/tail-spin.svg') center no-repeat #0c6ad5;
}
.loaded .icon-load {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.navigation {
  position: absolute;
  bottom: 0;
  width: 12px;
  height: 18px;
}
.navigation._left {
  background: url('../img/main_news_nav_left.png') no-repeat;
}
.navigation._right {
  left: 39px;
  background: url('../img/main_news_nav_right.png') no-repeat;
}
.navigation._middle {
  width: 8px;
  height: 13px;
}
.navigation._middle._left {
  background: url('../img/main_news_nav_left_min.png') no-repeat;
}
.navigation._middle._right {
  left: 39px;
  background: url('../img/main_news_nav_right_min.png') no-repeat;
}
.navigation._min {
  width: 6px;
  height: 11px;
  left: 0;
}
.navigation._min._left {
  background: url('../img/main_news_nav_left_min2.png') no-repeat;
}
.navigation._min._right {
  left: 39px;
  background: url('../img/main_news_nav_right_min2.png') no-repeat;
}
.main_news .navigation {
  bottom: -43px;
  left: 16px;
}
.main_news .navigation._right {
  left: 39px;
}
.rent_calendar .navigation {
  bottom: 4px;
}
.rent_calendar .navigation._middle._right {
  left: 25px;
}
.doing_right_inner .navigation {
  bottom: -29px;
  left: 2px;
}
.doing_right_inner .navigation._right {
  left: 20px;
}
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
  width: 100%;
  height: 143px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-color: #004a92;
}
.header .wrapper {
  position: relative;
  height: 100%;
}
.header__logo {
  background: url('../img/sprites.png') no-repeat;
  background-position: 0 0;
  width: 146px;
  height: 170px;
  position: absolute;
  left: 0;
  top: 6px;
}
.header__slogan {
  padding-left: 156px;
  margin-top: 71px;
  color: #e4e4e4;
  font-family: 'PT Serif';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.header_left {
  float: left;
}
.header_right {
  float: right;
  margin-top: 18px;
}
.top_menu {
  float: left;
  position: relative;
}
.top_menu #top_menu {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 12px;
}
.top_menu ul li ul {
  right: -1600px;
  position: absolute;
  top: 0;
  padding: 46px 0 20px 148px;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.top_menu > ul > li:hover > ul {
  right: 0;
  overflow: inherit;
}
.top_menu ul li,
#top_menu li ul li {
  display: inline-block;
  margin-left: 22px;
}
.top_menu ul li:first-child,
#top_menu li ul li:first-child {
  margin-left: 0;
}
.top_menu #top_menu li > li {
  margin-left: 17px;
}
.top_menu ul li a,
#top_menu li ul li a {
  color: #e4e4e4;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid transparent;
  position: relative;
}
.top_menu ul li a:after,
#top_menu li ul li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  transition: width 0.15s 0.15s;
}
.top_menu ul li a:hover:after,
#top_menu li ul li a:hover:after {
  width: 100%;
}
.top_menu ul li a:after,
#top_menu li ul li a:after {
  background-color: #e4e4e4;
}
.top_menu #top_menu li ul li a {
  opacity: 0.7;
  font-size: 14px;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid transparent;
  position: relative;
}
.top_menu #top_menu li ul li a:after {
  display: none;
}
.top_menu #top_menu li ul li a:hover:after {
  width: 100%;
}
.top_menu #top_menu li ul li a:hover {
  color: #fff;
}
.top_menu #top_menu li > ul > li > a {
  padding-bottom: 20px;
}
#top_menu li ul li {
  position: relative;
}
#top_menu li ul > li:hover ul {
  display: block;
}
#top_menu li ul ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 330px;
  background-color: #004a92;
  border: 1px solid white;
  padding: 15px 0;
}
#top_menu li ul ul:before {
  content: "";
  background: url('../img/sprites.png') no-repeat;
  background-position: -472px 0;
  width: 11px;
  height: 8px;
  position: absolute;
  top: -8px;
  left: 33px;
}
#top_menu li ul ul li {
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
#top_menu li ul ul li:hover {
  background-color: #0c559c;
}
#top_menu li ul ul li a {
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid transparent;
  position: relative;
  padding: 0 15px;
  display: block;
  padding-bottom: 5px!important;
  padding-top: 5px;
}
#top_menu li ul ul li a:after {
  display: none;
}
#top_menu li ul ul li a:hover:after {
  width: 100%;
}
.header_search {
  float: right;
  width: 154px;
  height: 27px;
  background-color: #0857a4;
  border-radius: 3px;
  margin-bottom: 19px;
}
.header_search__field {
  float: left;
  width: 80%;
  border: none;
  background: none;
  padding-left: 11px;
  opacity: 0.37;
  color: #e4e4e4;
  font-family: 'PT Sans';
  font-size: 14px;
  font-weight: 400;
  height: 27px;
}
.header_search__but {
  float: right;
  background: url('../img/sprites.png') no-repeat;
  background-position: -160px 0;
  width: 15px;
  height: 15px;
  opacity: 0.43;
  cursor: pointer;
  border: none;
  margin-top: 6px;
  margin-right: 8px;
}
/*
================================================================================
|                                     MAIN SLIDER                              |
================================================================================
*/
.main_slider {
  position: relative;
  margin-bottom: 110px;
}
.main_slider_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/slider_bg.png');
  background-repeat: repeat;
  z-index: 30;
}
.main_slider_info {
  position: relative;
  z-index: 31px;
  width: 557px;
  min-height: 340px;
  border-radius: 5px;
  padding: 50px 40px 30px;
  background-color: rgba(0, 74, 146, 0.28);
  background-repeat: repeat;
}
.main_slider_info__name {
  color: #e4e4e4;
  font-family: 'PT Serif';
  font-size: 40px;
  font-weight: 400;
  white-space: normal!important;
  line-height: 38px!important;
  margin-bottom: 20px;
}
.main_slider_info__desc {
  color: #e4e4e4;
  font-family: 'PT Serif';
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  white-space: normal!important;
  line-height: 20px!important;
}
.main_slider_info_buttons .button {
  width: 161px;
  margin-left: 22px;
}
.main_slider_info_buttons .button:first-child {
  margin-left: 0;
}
/*
================================================================================
|                                     MAIN NEWS                                |
================================================================================
*/
.main_news {
  margin-bottom: 155px;
}
.main_news .wrapper {
  position: relative;
}
.main_news .c-title {
  margin-bottom: 40px;
}
.main_news_posts {
  float: left;
  width: 73%;
}
.main_news_items {
  margin-left: -30px;
}
.main_news_item {
  float: left;
  width: 33.33%;
}
.main_news_item.active .main_news_item_info_inner {
  background-color: #fcf0cf;
  position: relative;
}
.main_news_item.active .main_news_item_info_inner:before {
  content: "";
  background: url('../img/sprites.png') no-repeat;
  background-position: -190px 0;
  width: 18px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 15px;
}
.main_news_item.active .main_news_item_info_inner:after {
  background-position: -213px -22px;
}
.main_news_item._one .main_news_item_info_inner:after {
  display: none;
}
.main_news_item._one .news_item_info_inner .main_news_item__desc {
  line-height: 20px;
}
.main_news_item._one .news_item_info_inner .main_news_item__desc p {
  font-size: 16px;
  line-height: 20px;
}
.main_news_item._one .news_item_info_inner .main_news_item__desc {
  max-height: inherit;
  height: auto;
}
.news_item {
  float: none;
  width: 100%;
  margin-bottom: 90px;
}
.main_news_item_inner {
  display: block;
  margin-left: 30px;
}
.news_item_inner {
  margin-left: 0;
}
.main_news_item_media {
  height: 175px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.main_news_item_media img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: top;
  top: 0;
  width: 100%;
}
.news_item_media {
  height: 503px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.main_news_item_info {
  margin-top: -20px;
  padding: 0 12px;
}
.news_item_info {
  margin-top: -88px;
  padding: 0 16px;
}
.news_item_info .news_item_info_inner .main_news_item__desc {
  line-height: 19px;
}
.main_news_item_info_inner {
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  position: relative;
}
.main_news_item_info_inner:after {
  content: '';
  background: url('../img/sprites.png') repeat-x 0 0;
  background-position: -213px 0;
  height: 11px;
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
}
.news_item_info_inner {
  padding: 35px 35px 60px 35px;
}
.news_item_info_inner:after {
  background: url('../img/main_news_bottom_label_big.png') repeat-x 0 0;
  height: 12px;
  bottom: -12px;
}
.news_item_info_inner .main_news_item__date {
  font-size: 14px;
}
.news_item_info_inner .main_news_item__name {
  font-size: 20px;
  height: auto;
}
.news_item_info_inner .main_news_item__desc {
  font-size: 16px;
  max-height: 58px;
  overflow: hidden;
}
.main_news_item__date {
  color: #727475;
  font-size: 12px;
  margin-bottom: 5px;
}
.main_news_item__name {
  color: #505151;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
}
.main_news_item__desc {
  color: #818282;
  line-height: 14px;
  margin-bottom: 23px;
  height: 70px;
  overflow: hidden;
}
.main_news_subsride {
  float: left;
  width: 27%;
  padding-left: 39px;
  padding-right: 36px;
}
.main_news_subsride_inner {
  background: url('../img/subscride_bg.jpg') no-repeat 0 0;
  background-size: cover;
  padding: 40px 20px 20px;
  height: 292px;
}
.main_news_subsride__name {
  color: #505151;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
}
.main_news_subsride__desc {
  color: #818282;
  line-height: 14px;
  margin-bottom: 28px;
}
.main_news_subsride__field {
  height: 31px;
  background-color: #e8edf1;
  border-radius: 3px;
  margin-bottom: 29px;
  padding-left: 5px;
  border: none;
  color: #535151;
  width: 88%;
}
.main_news_subsride__field::-webkit-input-placeholder {
  opacity: 0.36;
  color: #535151;
}
.main_news_subsride__field::-moz-placeholder {
  opacity: 0.36;
  color: #535151;
}
.main_news_subsride__field:-moz-placeholder {
  opacity: 0.36;
  color: #535151;
}
.main_news_subsride__field:-ms-input-placeholder {
  opacity: 0.36;
  color: #535151;
}
/*
================================================================================
|                                     DEFAULT PAGE                             |
================================================================================
*/
.page_def._history .page_def_content {
  padding-left: 0;
}
.page_def_content {
  margin-top: 172px;
  background-color: #fff;
  padding: 30px;
}
.page_def_content h1 {
  color: #656767;
  font-family: 'PT Serif';
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}
.page_def_content p {
  color: #656767;
  font-family: 'PT Serif';
  font-size: 16px;
  font-weight: 400;
}
.page_def_head {
  height: 310px;
  background: url('../img/page_head_bg.jpg') no-repeat 0 0;
  background-size: cover;
}
.page_def_head .wrapper {
  position: relative;
}
.page_def_head .breadcrumb {
  margin-left: 6px;
}
.page_def_head_info {
  min-width: 448px;
  min-height: 192px;
  background-color: rgba(0, 74, 146, 0.5);
  border-radius: 5px;
  position: absolute;
  top: 85px;
  left: 26px;
  padding: 37px 20px 37px 49px;
  font-family: 'PT Serif';
}
.page_def_head_info_min__title {
  opacity: 0.3;
  color: #e4e4e4;
  font-size: 20px;
  margin-bottom: 6px;
}
.page_def_head_info__title {
  color: #e4e4e4;
  font-size: 40px;
  margin-bottom: 17px;
  font-weight: 400;
  letter-spacing: 1px;
}
.breadcrumb ul li {
  float: left;
  margin-left: 5px;
  color: #e4e4e4;
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 400;
}
.breadcrumb ul li:first-child {
  margin-left: 0;
}
.breadcrumb ul li a {
  color: #e4e4e4;
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid transparent;
}
.breadcrumb ul li a:hover {
  border-color: initial;
}
/*
================================================================================
|                                     BLOG                             |
================================================================================
*/
.blog_column {
  float: left;
}
.blog_column._left {
  width: 65%;
}
.blog_column._right {
  width: 35%;
}
.blog_inner {
  padding-left: 30px;
  padding-right: 16px;
}
.articles-right {
  background: #c2dee8 url('../img/blog_right_bg.png') no-repeat 254px 8px;
  padding: 43px 26px 37px 31px;
}
.articles-right-delivery .button {
  height: 55px;
  font-size: 16px;
  font-weight: 400;
  background-color: #90cbde;
}
.articles-right-delivery .form__field {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 3px;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  background-color: transparent;
  margin-bottom: 25px;
  color: rgba(86, 85, 85, 0.5);
  font-family: 'PT Sans';
  font-size: 14px;
  font-weight: 400;
}
.articles-right-delivery-head {
  margin-bottom: 10px;
  position: relative;
}
.articles-right-delivery__icon {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: url('../img/sprites.png') no-repeat;
  background-position: -515px 0;
  width: 38px;
  height: 25px;
}
.articles-right-delivery__desc {
  padding-left: 70px;
  color: #878585;
  line-height: 20px;
  padding-right: 24px;
}
.articles-right-item {
  margin-top: 47px;
}
.articles-right__title {
  color: #565555;
  font-family: 'PT Serif';
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 34px;
}
.articles-right-content {
  padding-right: 37px;
}
.articles-right-popular-item {
  display: block;
  padding-bottom: 11px;
  margin-bottom: 11px;
  border-bottom: 1px solid #fff;
}
.articles-right-popular-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.articles-right-popular-item__media {
  float: left;
  width: 28%;
  height: 53px;
  overflow: hidden;
  background-color: #918f8f;
}
.articles-right-popular-item__media img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: top;
  top: 0;
  width: 100%;
}
.articles-right-popular-item-info {
  width: 72%;
  float: left;
  padding-left: 13px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.articles-right-popular-item__name {
  color: #888686;
  margin-top: 4px;
  margin-bottom: 10px;
}
.articles-right-popular-item__look {
  font-size: 12px;
  color: #888686;
}
.articles-right-cat-item {
  display: block;
  color: #888686;
  margin-bottom: 25px;
}
/*
================================================================================
|                                     DOIUNG                                   |
================================================================================
*/
.doing {
  margin-bottom: 125px;
  position: relative;
}
.doing .wrapper {
  position: relative;
}
.doing__line {
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  height: 242px;
  opacity: 0.53;
  background-color: #004a92;
}
.doing_left {
  float: left;
  width: 36.799999999999997%;
  height: 498px;
  background-color: #0c627e;
  background-image: linear-gradient(to left, rgba(170, 93, 160, 0.2) 0%, rgba(183, 116, 146, 0.2) 11%, rgba(198, 140, 135, 0.2) 33%, rgba(226, 177, 116, 0.2) 72%, rgba(255, 243, 89, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;
  padding: 86px 50px 20px 31px;
}
.doing_left .c-title {
  margin-bottom: 50px;
}
.calendar_wrap {
  position: relative;
}
.calendar__date {
  width: 18px;
  height: 51px;
  position: absolute;
  left: 25px;
  top: 120px;
  color: #90cbde;
  font-family: 'PT Serif';
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.rent_calendar {
  padding: 11px 6px 20px 63px;
}
/**head*/
.rent_calendar_head {
  margin-bottom: 8px;
  position: relative;
}
.rent_calendar_head__date {
  float: right;
  color: #90cbde;
  font-family: 'PT Serif';
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 4px 0 0 0;
}
/**content*/
.rent_calendar_content {
  margin-left: -4px;
}
.rent_calendar_content_head {
  overflow: hidden;
  margin-bottom: 5px;
}
.rent_calendar_content_head .rent_calendar__day span {
  font-family: 'PT Serif';
  font-weight: 700;
}
.rent_calendar_content_head .rent_calendar__day:hover span {
  background-color: transparent;
  color: #90cbde;
}
.rent_calendar__day {
  float: left;
  width: 14.279999999999999%;
  height: 16px;
  margin-bottom: 14px;
}
.rent_calendar__day span {
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  -ms-border-radius: 600px;
  -o-border-radius: 600px;
  border-radius: 600px;
  display: table;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid transparent;
  margin: 0 auto;
  padding: 0px 3px;
  width: 21px;
  height: 22px;
}
.rent_calendar__day.active span {
  background-color: #90cbde;
  color: #fff;
}
.rent_calendar__day.active:hover span {
  background-color: #90cbde;
  color: #fff;
}
.rent_calendar__day.active_day span {
  background-color: #90cbde;
  color: #fff;
}
.rent_calendar__day.active_day:hover span {
  background-color: #272727;
  color: #656565;
}
.rent_calendar__day:hover span {
  background-color: #90cbde;
  color: #fff;
}
.doing_right {
  width: 61%;
  float: left;
  padding: 104px 45px 30px 35px;
  background-color: #fff;
  height: 497px;
}
.doing_right__title {
  opacity: 0.45;
  color: #b6b9ba;
  font-family: 'PT Sans';
  font-size: 20px;
  margin-bottom: 34px;
}
.doing_right_inner {
  position: relative;
}
.doing_right_media {
  width: 33%;
  height: 211px;
  float: left;
}
.doing_right_media img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: top;
  top: 0;
  width: 100%;
}
.doing_right_info {
  padding: 37px 24px 20px 24px;
  float: left;
  width: 67%;
}
.doing_right__date {
  color: #b6b9ba;
  margin-bottom: 8px;
}
.doing_right__desc {
  margin-bottom: 19px;
  color: #727475;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
/*
================================================================================
|                                     PHOTOGALLERY                             |
================================================================================
*/
.photogallery_inner {
  margin: 17px 0;
}
/*
================================================================================
|                                     HISTORY                                   |
================================================================================
*/
.history {
  padding: 71px 153px 71px 0;
}
.history h1 {
  color: #949494;
  font-family: 'PT Sans';
  font-size: 23px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.6px;
  padding-left: 198px;
}
.history_inner {
  margin-top: 57px;
}
.history_item {
  position: relative;
  padding-left: 157px;
}
.history_item p {
  color: #949494;
  font-size: 16px;
  line-height: 19px;
  font-family: 'PT Sans';
  font-weight: 400;
  margin-bottom: 25px;
}
.history_item p:last-child {
  margin-bottom: 0;
}
.history_item:first-child .history_item_inner {
  padding-top: 0;
}
.history_item:first-child .history_item_cub {
  top: -5px;
}
.history_item_inner {
  padding-left: 37px;
  border-left: 4px solid #90cbde;
  padding-top: 90px;
  position: relative;
}
.history_item_cub {
  position: absolute;
  left: 0;
  top: 94px;
  z-index: 1;
  width: 178px;
  height: 158px;
  background-color: #90cbde;
}
.history_item_cub__date {
  position: absolute;
  top: 33px;
  right: -12px;
  width: 27px;
  height: 75px;
  font-size: 35px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.history_item_date_wrap {
  background-color: #fff;
  width: 27px;
  padding-bottom: 4px;
  position: absolute;
  top: 91px;
  left: -12px;
  z-index: 1;
}
.history_item_date_wrap._long_wrap {
  height: 169px;
}
.history_item__date {
  width: 27px;
  height: 77px;
  position: relative;
  top: 28px;
  left: 16px;
  color: #D7D7D7;
  font-family: 'PT Sans';
  font-size: 35px;
  font-weight: 400;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.history_item__date._long_date {
  top: 115px;
}
.history_item_cub__num {
  color: white;
  font-size: 62px;
  position: absolute;
  bottom: 14px;
  left: 20px;
}
.history_videos {
  margin-top: 70px;
}
.history_videos_items {
  margin: 0 0 0 -55px;
}
.history_videos_item {
  width: 50%;
  float: left;
}
.history_videos_item_inner {
  margin-left: 55px;
}
/*
================================================================================
|                                     AUDIO PLAYER                                   |
================================================================================
*/
.mejs-button.mejs-playpause-button.mejs-play {
  width: 64px;
  height: 64px;
  background-color: #90cbde;
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  -ms-border-radius: 600px;
  -o-border-radius: 600px;
  border-radius: 600px;
  position: relative;
}
.mejs-controls .mejs-play button {
  position: absolute!important;
  top: 1px;
  bottom: 0;
  right: 0;
  left: 5px;
  margin: auto!important;
}
.mejs-controls {
  background: #fff!important;
}
.mejs-time-rail {
  height: 8px !important;
  border: 1px solid #bababa !important;
  border-radius: 4px;
  margin-top: 28px !important;
}
.mejs-time-total.mejs-time-slider {
  top: 24px!important;
  height: 8px!important;
}
.mejs-time-loaded {
  height: 6px!important;
}
.mejs-time-current {
  height: 6px!important;
  background-color: #90cbde!important;
  border-radius: 4px!important;
  top: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
  margin: 5px 0!important;
}
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
  height: 380px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #084D8F;
}
.footer .wrapper {
  padding: 55px 0 70px;
}
.footer_partners {
  float: left;
  position: relative;
  width: 33%;
}
.footer_partners__title {
  position: absolute;
  top: 122px;
  left: 0;
  width: 19px;
  height: 88px;
  color: #e4e4e4;
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.footer_partners_items {
  margin: 0 0 0 -16px;
  padding-left: 11px;
}
.footer_partners_item {
  float: left;
  width: 33.33%;
}
.footer_partners_item_inner {
  overflow: hidden;
  height: 74px;
  background-color: #f4f4f4;
  border-radius: 3px;
  margin-left: 16px;
  margin-bottom: 14px;
  display: block;
}
.footer_partners_item_inner:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.footer_partners_item_inner img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: top;
  top: 0;
  width: 100%;
  border-radius: 3px;
  opacity: 0.3;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
}
.footer_left {
  width: 67%;
  float: left;
  padding-left: 65px;
}
.footer_left_col {
  float: left;
  width: 50%;
}
.footer_left_col._contact {
  padding-left: 98px;
}
.footer_left__title {
  color: #e4e4e4;
  font-size: 20px;
  position: relative;
  margin-bottom: 19px;
  padding-bottom: 11px;
  display: inline-block;
  margin-top: 7px;
}
.footer_left__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 68%;
  height: 3px;
  background-color: #90cbde;
}
.footer_menu {
  float: left;
}
.footer_menu:last-child {
  float: right;
}
.footer_menu ul li {
  margin-bottom: 13px;
}
.footer_menu ul li a {
  color: #e4e4e4;
  font-size: 16px;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.footer_menu ul li a:hover {
  border-color: initial;
}
.footer_contact_menu {
  margin-bottom: 30px;
  padding-bottom: 18px;
  border-bottom: 3px solid #90cbde;
  display: inline-block;
}
.footer_contact_menu_list {
  margin-bottom: 14px;
}
.footer_contact_menu_list:last-child {
  margin-bottom: 0;
}
.footer_contact_menu_list li {
  margin-bottom: 9px;
  font-family: 'PT Serif';
  color: #90cbde;
}
.footer_contact_menu_list li:last-child {
  margin-bottom: 0;
}
.footer_contact_menu_list li._title {
  font-family: 'PT Serif';
  color: #f4f4f4;
}
.footer_contact_menu_list li a {
  color: #90cbde;
  display: in;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid transparent;
}
.footer_contact_menu_list li a:hover {
  border-color: initial;
}
.footer_shared__desc {
  opacity: 0.46;
  color: #f4f4f4;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 23px;
  letter-spacing: 1.4px;
}
.footer_shared__desc._blog {
  opacity: 1;
  letter-spacing: inherit;
  color: #888686;
  font-family: 'PT Serif';
  font-size: 16px;
  font-weight: 400;
}
.social {
  overflow: hidden;
  position: relative;
}
.social._blog li {
  margin-left: 30px;
}
.social._blog li a {
  width: 46px;
}
.social._blog li.vk a {
  background: url('../img/soc_vk_dark.png') no-repeat;
}
.social._blog li.fb a {
  background: url('../img/soc_fb_dark.png') no-repeat;
}
.social._blog li.gl a {
  background: url('../img/soc_gb_dark.png') no-repeat;
}
.social li {
  float: left;
  margin-left: 32px;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.social li:first-child {
  margin-left: 0;
}
.social li a {
  width: 45px;
  height: 45px;
  display: block;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  position: relative;
  top: 0;
}
.social li.vk a {
  background: url('../img/VK_White.png') no-repeat;
}
.social li.fb a {
  background: url('../img/Facebook_White.png') no-repeat;
}
.social li.gl a {
  background: url('../img/Google_White.png') no-repeat;
}
.social li:hover a {
  top: 3px;
}
/* ====================================================
   ADAPTS STYLES
======================================================= 
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
======================================================= */
.menu__burger {
  display: none;
  width: 28px;
  height: 22px;
  background: url('../images/sprites-mob.png') no-repeat;
  background-position: -147px 0;
  margin-top: 21px;
  cursor: pointer;
  position: relative;
  float: right;
}
._mob {
  display: none;
}
/****** but Up */
.but-up-wrap {
  display: none;
}
.but-up {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  border: 1px solid #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.but-up:before {
  content: "";
  background: url('../images/sprites.png') no-repeat;
  background-position: -327px 0;
  width: 6px;
  height: 4px;
  margin: 11px auto 0;
  display: block;
}
@media handheld, only screen and (min-width: 1155px) {
  .wrapper {
    margin: 0 auto;
    width: 1165px;
  }
}
/****** 1365 -> 1280 */
@media handheld, only screen and (max-width: 1365px) {
  /****** header */
  .header__logo {
    left: 10px;
  }
  .slider-nav {
    top: initial;
    bottom: 49px;
  }
  /****** main about */
  .main-about-paralax-row__bg {
    display: none;
  }
  /****** footer */
  .footer-subscride-form__field {
    width: 200px;
  }
}
/****** 1279 -> 1024 */
/****** 1023 -> 769 */
/****** 768 -> 320 */
@media handheld, only screen and (max-width: 768px) {
  ._mob {
    display: block;
  }
  /****** header */
  .header {
    height: 45px;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    padding: 0;
  }
  .header .wrapper {
    padding: 0 18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .header__logo {
    background: url('../img/sprites-mob.png') no-repeat;
    width: 133px;
    background-position: 0 0;
    height: 43px;
    margin-top: 13px;
    left: 0;
  }
  .header-lang {
    display: none;
  }
  /****** slider */
  .slider {
    height: 177px;
  }
  .menu__burger {
    display: block;
  }
  .header-menu {
    display: none;
    margin: 0 0 0 0;
    position: relative;
    background: #3eb1e7;
    float: none;
    width: 100%;
    border-bottom: 2px solid #3864af;
  }
  .header-menu ul {
    display: block;
    padding-left: 0;
  }
  .header-menu > ul {
    padding: 0 16px;
  }
  .header-menu ul li {
    width: 100%;
    margin: 0;
    background: #3eb1e7;
    display: block;
    position: relative;
  }
  .header-menu ul li:last-child {
    border-bottom: none;
  }
  .header-menu ul li:first-child {
    border-top: none;
  }
  .header-menu ul li a {
    padding: 19px 0;
    text-transform: none;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    display: block;
    border-left: none;
    float: none;
    text-align: left;
    padding-left: 15px;
    z-index: 1;
    border-bottom: 1px solid #6EC5ED;
  }
  .header-menu ul li:after {
    content: "";
    right: 11px;
    top: 25px;
    width: 9px;
    height: 9px;
    cursor: pointer;
    background: url('../images/sprites-mob.png') no-repeat;
    position: absolute;
    display: none;
  }
  .header-menu ul li.minus:after {
    display: block;
    background-position: -247px 2px;
  }
  .header-menu ul li.plus:after {
    display: block;
    background-position: -227px 0;
  }
  .header-menu ul li ul {
    display: none;
    margin: 0 0;
  }
  .header-menu ul li ul li {
    background: #3EB1E7;
  }
  .header-menu ul li ul li:before {
    background: url('../images/sprites-mob.png') no-repeat;
    background-position: -159px 0;
    float: left;
    margin-right: 11px;
    width: 5px;
    height: 5px;
    position: relative;
    top: 24px;
  }
  .header-menu ul li ul li:after {
    display: none;
  }
  .header-menu ul li ul li a {
    float: none;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
  }
  .header-menu ul li.active > a {
    color: #fff;
  }
  .header-menu ul.sub li {
    border: none;
  }
  .header-menu ul.sub li a {
    padding-left: 30px;
    position: relative;
    border-bottom: 1px solid #6EC5ED;
    width: 80%;
  }
  .header-menu ul.sub li a:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: 26px;
    top: 26px;
    background: url('../images/point-list.png') no-repeat;
  }
  .header-menu ul.sub li.minus:after {
    display: block;
    background-position: -247px 2px;
  }
  .header-menu ul.sub li.plus:after {
    display: block;
    background-position: -227px 0;
    height: 12px;
  }
  .header-menu ul.sub li ul li a {
    padding-left: 45px;
  }
  .header-menu ul.sub li ul li a:before {
    display: none;
  }
  /****** sub 3 level */
  .header-menu ul.sub li ul.sub {
    padding-left: 53px;
  }
  .header-menu ul.sub li ul.sub li:before {
    content: "";
    background: url('../img/sprites-mob.png') no-repeat;
    background-position: -269px 0;
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 3px;
  }
  .header-menu ul.sub li ul.sub li a {
    padding-left: 15px;
    border: none;
  }
  /****** footer */
  .footer {
    height: 90px;
    border-top: 2px solid #e6e6e6;
  }
  .footer__copy {
    float: none;
    margin: 0 0 5px 0;
    padding: 35px 0 0 0;
  }
  .footer__designe {
    float: none;
    margin: 0;
    padding-right: 0;
  }
  /***** other**/
  .button {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 40px;
  }
  .button span:after {
    position: relative;
    top: 1px;
  }
  .title {
    font-size: 21px;
  }
  .breadcrumb {
    display: none;
  }
}
/****** 599 -> 320 */
/****** 479 -> 320 */
/* ====================================================
   END ADAPTS STYLES
======================================================= */
